@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #252229;
  --color-gray: #afaab5;
  --color-lightgray: #efefef;
  --color-skyblue: #b9e9ff;
}

h1 {
  @apply text-xl font-bold;
}

.bg-primary {
  background-color: var(--color-black);
}

.button-black {
  @apply bg-primary text-white w-full rounded-full py-4 text-xl mt-5;

}
