.box3 {
  width: 300px;
  /* border-radius: 15px; */
  background: #b9e9ff;
  /* color: #fff; */
  /* text-align: center; */
  /* font-weight: 900; */
  font-family: arial;
  position: relative;
}

.box3.gray {
  background: #efefef;
}

/* speech bubble 13 */

/* .sb13:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #b9e9ff;
    border-right: 15px solid transparent;
    border-top: 15px solid #b9e9ff;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
  } */

/* speech bubble 14 */

/* .sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #b9e9ff;
    border-top: 15px solid #b9e9ff;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
  } */
